@import "../../material-components-web/test/screenshot/out/mdc.textfield.css";
@import "../../material-components-web/test/screenshot/out/mdc.typography.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
